<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
  <div class="ui-block">
    <div class="ui-block-title">
      <h3 class="title">Para publicar un servicio tienes que realizar un pago</h3>
    </div>
    <div class="ui-block-content">
      <%= link_to "Paga 1500", "https://mpago.li/32QJKpV", class:"btn btn-lg btn-primary" %>
    </div>
  </div>
</div>