
<div class="row">
  <%= render 'commons/profile_menu' %>
  <% if current_user.check_if_payments? %>
    <%= render partial: 'my_service_form', locals:{service: @service, categories: @categories, comunas: @comunas, cities: @cities} %>
  <% else %>
    <%= render 'message_payment' %>
  <% end %>

  <% if current_user.check_if_payments? && !@current_user_have_service.nil? %>
    <%= render partial: 'working_hours', locals:{working_settings: @working_settings} %>
  <% end %>
</div>

