<div class="row">
  <div class="col-md-12">
    <h1>Mis servicios reservados</h1>
  </div>
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre del servicio</th>
          <th scope="col">First</th>

        </tr>
      </thead>
      <tbody>
        <% @my_services_booking.each do |booking| %>
          <tr>
            <th scope="row"><%= booking.service_categories_text %></th>
            <td><%= link_to "Ir al chat", booking_chat_url(booking, booking.chat) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>