<div class="row">
  <div class="col-md-12">
    <h1>Mis servicios reservados</h1>
  </div>
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre del servicio</th>
          <th scope="col">First</th>

        </tr>
      </thead>
      <tbody>
        <% @my_services_booking.each do |schedule| %>
          <tr>
            <th scope="row"><%= schedule.service.title %></th>
            <td>Mark</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>