

<h1>Hola mundo :)</h1>

<%= current_user %>

<% if !user_signed_in? %>
      <%= link_to 'Login', new_user_session_path, class:"waves-effect waves-light btn-large"%>
      <%= link_to 'Registro', new_user_registration_path, class:"waves-effect waves-light btn-large"%>
<% else %>
      <%= link_to('Logout', destroy_user_session_path, class:"waves-effect waves-light btn-large", method: :delete) %>       
<% end %>
