<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre de categoría</th>
      <th scope="col">Aciones</th>
    </tr>
  </thead>
  <tbody>
    <% categories.each do |category| %>
        <tr>
            <th scope="row"><%= category.id %></th>
            <td><%= category.name %></td>
            <td><%= link_to "Editar", edit_category_path(category), class: "btn btn-warning" %>  <%= link_to "Eliminar Categoria", category_path(category), method: :delete, class: "btn btn-danger" %></td>
        </tr>
    <% end %>
  </tbody>
</table>