<div class="col-md-12 text-center">
    <h1> Crear Categoria</h1>
</div>

<%= render partial: "categories",  locals:{ categories: @categories} %>

<%= link_to "Crear Categoría", new_category_path, class: "btn btn-primary" %>