<div class="text-center">
  <%= image_tag "user-4.jpg", class:"rounded-circle user-img img-thumbnail" %>
  <h4 class="team-leader"><%= user.full_name %></h4>
    <ul class="list-inline language-skill mb-4">
      <li class="list-inline-item"> <strong>Email: </strong> <%= user.email %></li>
      <li class="list-inline-item"> <strong>Role: </strong> <%= user.role %></li>
    </ul>
</div>
